*{
    box-sizing: border-box;
    margin:0;
}
body{
    font-family:sans-serif;
}
h1{
    color:rgb(130, 30, 223);
    text-align:center;
   
}

.game{
    max-width: 800px;
    align-items: center;
    display:grid;
    grid-template-columns: repeat(3,115px);
    justify-content: center;
    margin-bottom: 30px;
}
#reset,#new-btn{
    color:rgb(25, 172, 118);
    background-color: white;
    font-size:30px;
    font-weight: 400;
    border-radius: 10px;
    display:block;
    margin:auto;
   
}
#new-btn{
    margin:10px;
}

.box{
    height:100px;
    width:100px;
    border:none;
    margin-top:15px; 
    background-color: rgb(255, 108, 63);
    color:black;
    font-size:50px;
    font-weight: 400;
}
.box:disabled{
    background-color: grey;
}

#msg{
    text-align: center;
    color:rgb(25, 172, 118);
    background-color: white;
    font-size:30px;
   
}
.msg-container{
 height:100vmin;
 display:flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap:20px;

}
.hide{
    display :none;
}

