*{
    margin:0;
    padding:0;
}

body{
    font-family:'Times New Roman', Times, serif
}

.title{
    background-color: rgb(2, 36, 95);
    color:white;
    text-align: center;
}

.game{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap:3rem;
    
}
.game-btn{
    height:100px;
    width:100px;
}
.img{
    height:90%;
    width:100%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap:4rem;
    
}
.choice{
    Height:100px;
    width:100px;
    color:white;
    background:rgb(228, 100, 223);
    font-weight: 400;
    font-size: 20px;
    border:none;
    border-radius: 50%;
    
}
.choice:hover{
    border: 4px solid black;
}

.score-board{
    display:flex;
    justify-content: center;
    gap:7rem;
    border:  2px solid black;
    padding: 1rem;
}
.score{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin:2px;  
}

.msg-container{
    display:flex;
    justify-content: center;
    gap:7rem;
    font-weight: 400;
    font-size: 20px;
    border:none;
    padding: 1rem;
    background-color: rgb(2, 36, 95);
    color:white;
}