*{
    font-family: roboto;
    font-weight: 400;
}.form{
    display: block;
}
.form1{
    display: block;
}
input{
    width:200px;
    height: 45px;
}
.formdesign{
    border-width: 5px;
    margin-top:10px;
    border-color:black;
    margin-left:20px;
}
button{
    margin-top: 5px;
    border:none;
    width:100px;
    height: 45px;
    vertical-align: top;
    margin-top: 10px;
}
.signup{
    background-color: rgb(13, 115, 174);
    border-radius:5px;
    color:white;
    
}
.request{
    background-color: black;
    color: white;
}