body {margin:0;
}

.content {
  max-width:1200px;
  margin: auto;
  background: white;
  padding:0;
}
.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-color:white;
}
.product-card {
  flex: 0 0 auto;
 
  margin-right: 30px;

}

.product-image {
  position: relative;
  
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-box{
    width:27% !important;
    position: absolute;
    left:70%;
    top:13%;
    /* border:solid 1px blue; */
    padding:10px 20px;
	color:black;
	z-index:3;
}
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 225px;
  height: 275px;
  margin-right: 30px;

}

.product-image {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.seller{
  position: absolute;
  background: #000080;
  padding: 5px;
  border-radius: 5px;
  color: white;
  left:-3px;
  top:70%;
  
}


.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}
p{font-size:22px;
font-family:arial;
text-align:center;
margin:5px;
padding:5px;
}


.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-color:white;
}



.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  margin-top:10rem;
  border-radius:50%;
  width:20px;
  height:25px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

h2{ text-align:center;

padding:5px;
  margin:5px;
}

.cart-wrapper{
    overflow-y: auto;
    max-height: 350px;
    width:24vw;
}
.subtotal{
    text-align: right;
    padding:5%;
}
.checkout, .view-cart{
    width:95%;
    text-align: center;
    cursor: pointer;
    background-color: brown;
    font-size: large;
    color: #fff;
    margin:10px auto;
    padding:10px 15px;
}
.view-cart{
    background-color: #fff;
    border: 2px solid brown;
    color: brown;
}
.cart-icon{
    text-align: right;
}

.cart-item{
  display:grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding:5% 2%;
  border-bottom:solid 1px lightgray;  
}

.cart-item img{
    width:100%;
}
.cart-item .details{
    padding-left:10%;
}

.cart-item h3{
  text-align: left; 
  margin-bottom:5%; 
}

.cart-item .price{
display: block;
text-align: right;
margin-top: 35%; 
  }
  
 .quantity{
     display: block;
     margin-top:5%;
 } 

 .fa-window-close{
     color: brown;
 }
 .cancel{
     text-align: right;
 }
 .whole-cart-window{
     border: solid lightgray 1px;
     border-top:none;
     position: fixed;
     top:12vh;
     background-color: #fff;
     margin-right:2%;
 }

 .hide{
     display: none;
 }
.non-empty::after{
  content: var(--after-content);
  font-size: 25px;
  width:25px;
  display: inline-block;
  text-align: center;
  position: relative;
  top:-20px;
  right:20%;
  background-color: red;
  border-radius: 50%;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.card-item{
    display: flex;
    flex-direction: column;
    min-width:300px;
    height:400px;
}
.card-item img{
    width:250px;
}
.card-item .details{
    text-align: center;    
}
.card-item p,.card-item h3 {
    margin-top:10px;   
}
.card-item span{
    display: block;
    margin-top:10px;
}
.add-to-cart-btn{
    width: fit-content;
    margin:auto;
    /* margin-top:10px; */
    padding: 10px 15px;
    cursor: pointer;
    background-color:#FF1493;
    border-radius: 3px;
    font-size:20px;
    color:#fff;
}
.add-to-cart-btn:hover{ background-color:pink;}


/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 225px;
  height: 375px;
  margin-right: 30px;

}

.product-image {
  position: relative;
  width: 100%;
  height: 325px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.seller{
  position: absolute;
  background: #000080;
  padding: 5px;
  border-radius: 5px;
  color: white;
  left:-3px;
  top:70%;
  
}


.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-color:white;
}



.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

h2{ text-align:center;

padding:5px;
  margin:5px;
}

/*product card*/



 


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 10px 4px;
  margin:20px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 24%;
  

}

.column img {
  margin: 8px;
  vertical-align: middle;
  width: 100%;
 
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}