*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins' ,sans-serif;

}

.container{
    height:100vh;
    width :100%;
    background: #ebeeeb;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{

    font-size: 32px;
    font-weight: 500;
    padding: 100px;
    margin: 30px;
    width: 400px;
    background: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #096b1b;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
               -10px -10px 10px -1px rgba(255,255,255,0.70);

}
button.hindi{
    color: #850895;
    box-shadow: inset 10px 10px -10px -1px rgba( 10, 99, 169 ,0.16),
                inset -10px -10px -10px -1px rgba( 255, 255, 255, 0.70);


}
